@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

// ----------- banner-1 ------------
.banner-1 {
  // desktop
  &.desktop-banner-container {
    margin: 50px auto;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1520px;
    font-family: "Inter", sans-serif;

    .background-image {
      max-width: 100%;
      max-height: 100%;
    }

    .banner-name {
      position: absolute;
      background-color: #eef9ff;
      width: 85px;
      text-align: center;
      left: 40px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        transform: rotate(-90deg);
        font-size: 45px;
        font-weight: 700;
        margin: 0;
        color: rgb(0, 145, 255);
        min-width: max-content;
      }
    }

    .content-container {
      position: absolute;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      .left-section {
        position: relative;
        display: flex;
        align-items: center;
        width: 45%;
        height: 100%;

        .banner-image {
          max-width: 550px;
          margin: 0 0 0 auto;
          max-height: 100%;
          object-fit: contain;
        }
      }

      .right-section {
        width: 55%;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;

        .company-logo {
          max-width: 250px;
          max-height: 100px;
          object-fit: contain;
        }

        .product-name {
          font-size: 45px;
          font-weight: 700;
          text-align: center;
          max-width: 85%;
          margin: 0;
        }

        .product-cost {
          font-size: 30px;
          font-weight: 600;
          display: flex;
          align-items: center;
          column-gap: 15px;
          justify-content: center;

          .actual-price {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            &::after {
              position: absolute;
              content: "";
              border-bottom: 3px solid black;
              width: 100%;
              transform: rotate(175deg);
            }
          }
        }

        .shop-btn {
          padding: 10px 15px;
          font-size: 18px;
          color: #ffffff;
          font-weight: 600;
          background-color: #ac0236;
          border: none;
          border-radius: 5px;
          letter-spacing: 1px;
        }

        .discount-offer {
          right: 0px;
          bottom: 0px;
          position: absolute;
          background-color: rgb(72, 72, 232);
          color: #ffffff;
          font-size: 35px;
          font-weight: 700;
          width: 100px;
          height: 100px;
          padding: 20px;
          clip-path: circle(100px at 100px 100px);
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }
    }
  }

  // mobile
  &.mobile-banner-container {
    margin: 50px auto;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 560px;
    font-family: "Inter", sans-serif;

    .background-image {
      max-width: 100%;
      max-height: 100%;
    }

    .banner-name {
      position: absolute;
      background-color: #eef9ff;
      text-align: center;
      left: -100px;
      top: 0;
      left: 0;
      margin: 10px 0;
      h1 {
        font-size: 18px;
        margin: 5px 10px;
        color: rgb(0, 145, 255);
      }
    }

    .content-container {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      row-gap: 15px;

      .company-logo {
        max-width: 150px;
        max-height: 50px;
        object-fit: contain;
      }

      .product-name {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        max-width: 55%;
        margin: 0;
      }

      .product-cost {
        font-size: 16px;
        font-weight: 600;
        display: flex;
        align-items: center;
        column-gap: 10px;
        justify-content: center;

        .actual-price {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          &::after {
            position: absolute;
            content: "";
            border-bottom: 1px solid black;
            width: 100%;
            transform: rotate(175deg);
          }
        }
      }

      .shop-btn {
        padding: 7px 12px;
        font-size: 12px;
        color: #ffffff;
        font-weight: 600;
        background-color: #ac0236;
        border: none;
        border-radius: 5px;
        letter-spacing: 1px;
      }

      .banner-image {
        max-width: 300px;
        max-height: 150px;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    .discount-offer {
      right: 0px;
      bottom: 0px;
      position: absolute;
      background-color: rgb(72, 72, 232);
      color: #ffffff;
      font-size: 22px;
      font-weight: 700;
      width: 70px;
      height: 70px;
      padding: 15px;
      clip-path: circle(70px at 70px 70px);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}

// ------------banner-2-------------
.banner-2 {
  // desktop
  &.desktop-banner-container {
    margin: 50px auto;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1520px;
    font-family: "Inter", sans-serif;

    .background-image {
      max-width: 100%;
      max-height: 100%;
    }

    .banner-name {
      position: absolute;
      background-color: #384855;
      text-align: center;
      left: 0;
      top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: 34px;
        font-weight: 500;
        margin: 10px 10px 10px 40px;
        color: #fdfeff;
        min-width: max-content;

        display: flex;
        align-items: center;
        column-gap: 5px;

        img {
          width: 35px;
          margin: 0px 0 0 10px;
        }
      }
    }

    .content-container {
      position: absolute;
      display: flex;
      align-items: flex-start;
      width: 60%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      padding: 100px 40px 40px 40px;
      box-sizing: border-box;
      row-gap: 15px;

      .company-logo {
        max-width: 250px;
        max-height: 32px;
        object-fit: contain;
      }

      .product-name {
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        max-width: 85%;
        margin: 0;
        color: #000000;
      }

      .product-cost {
        font-size: 30px;
        font-weight: 600;
        display: flex;
        align-items: center;
        column-gap: 15px;
        justify-content: center;
        color: #000000;

        .actual-price {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          &::after {
            position: absolute;
            content: "";
            border-bottom: 3px solid #000000;
            width: 100%;
            transform: rotate(175deg);
          }
        }
      }

      .shop-btn {
        padding: 10px 15px;
        font-size: 18px;
        color: #ffffff;
        font-weight: 600;
        background-color: #ac0236;
        border: none;
        border-radius: 5px;
        letter-spacing: 1px;
      }
    }

    .discount-offer {
      right: 0px;
      top: 0px;
      position: absolute;
      background-color: #000000;
      color: #ffffff;
      font-size: 35px;
      font-weight: 700;
      width: 130px;
      height: 130px;
      padding: 0 0 20px 20px;
      clip-path: circle(150px at 150px 0);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  // mobile
  &.mobile-banner-container {
    margin: 50px auto;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 560px;
    font-family: "Inter", sans-serif;

    .background-image {
      max-width: 100%;
      max-height: 100%;
      opacity: 0.3;
    }

    .banner-name {
      position: absolute;
      background-color: #384855;
      text-align: center;
      left: -100px;
      top: 0;
      left: 0;
      margin: 30px 0;
      h1 {
        font-size: 22px;
        margin: 5px 10px 5px 15px;
        font-weight: 500;
        color: #fdfeff;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 25px;
          margin: 0 0 0 7px;
        }
      }
    }

    .content-container {
      position: absolute;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      height: 100%;
      row-gap: 20px;
      padding: 90px 30px 30px 30px;
      box-sizing: border-box;

      .company-logo {
        max-width: 150px;
        max-height: 22px;
        object-fit: contain;
      }

      .product-name {
        font-size: 30px;
        font-weight: 700;
        max-width: 55%;
        margin: 0;
      }

      .product-cost {
        font-size: 24px;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: flex-start;
        flex-wrap: wrap;
        max-width: 220px;

        .actual-price {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          &::after {
            position: absolute;
            content: "";
            border-bottom: 2px solid black;
            width: 100%;
            transform: rotate(175deg);
          }
        }
      }

      .shop-btn {
        padding: 10px 15px;
        font-size: 14px;
        color: #ffffff;
        font-weight: 600;
        background-color: #ac0236;
        border: none;
        border-radius: 5px;
        letter-spacing: 1px;
      }
    }

    .banner-image {
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 320px;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .discount-offer {
      right: 0px;
      top: 0px;
      position: absolute;
      background-color: #000000;
      color: #ffffff;
      font-size: 35px;
      font-weight: 700;
      width: 120px;
      height: 120px;
      padding: 0 0 20px 20px;
      clip-path: circle(140px at 140px 0);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}

// ------------banner-3--------------
.banner-3 {
  // desktop
  &.desktop-banner-container {
    margin: 50px auto;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1520px;
    font-family: "Inter", sans-serif;

    .background-image {
      max-width: 100%;
      max-height: 100%;
    }

    .banner-name {
      position: absolute;
      background-color: #fccfa5;
      width: 85px;
      text-align: center;
      left: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        transform: rotate(-90deg);
        font-size: 38px;
        font-weight: 600;
        margin: 0;
        color: #000000;
        min-width: max-content;
      }
    }

    .content-container {
      position: absolute;
      display: flex;
      align-items: flex-start;
      width: 60%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      padding: 40px 40px 40px 135px;
      box-sizing: border-box;
      row-gap: 10px;

      .company-logo {
        max-width: 250px;
        max-height: 52px;
        object-fit: contain;
      }

      .product-name {
        font-size: 40px;
        font-weight: 700;
        margin: 0;
        color: #000000;
      }

      .sub-brand {
        background-color: #6a350e;
        color: #ffffff;
        width: 100%;
        text-align: center;

        p {
          font-size: 32px;
          margin: 10px;
        }
      }

      .product-cost {
        font-size: 30px;
        font-weight: 600;
        display: flex;
        align-items: center;
        column-gap: 15px;
        justify-content: center;
        color: #000000;
        margin: auto;

        .actual-price {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          &::after {
            position: absolute;
            content: "";
            border-bottom: 3px solid #000000;
            width: 100%;
            transform: rotate(175deg);
          }
        }
      }

      .shop-btn {
        padding: 10px 15px;
        font-size: 18px;
        color: #ffffff;
        font-weight: 600;
        background-color: #000000;
        border: none;
        border-radius: 5px;
        letter-spacing: 1px;
        margin: auto;
      }
    }

    .banner-image {
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 340px;
      margin: 0 250px 0 0;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .discount-offer {
      right: 50px;
      top: 0px;
      position: absolute;
      background-color: #b6100f;
      color: #ffffff;
      font-size: 35px;
      font-weight: 700;
      width: 145px;
      height: 145px;
      clip-path: circle(100px at 73px 40px);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  // mobile
  &.mobile-banner-container {
    margin: 50px auto;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 560px;
    font-family: "Inter", sans-serif;

    .background-image {
      max-width: 100%;
      max-height: 100%;
    }

    .banner-name {
      position: absolute;
      background-color: #fccfa5;
      text-align: center;
      top: 0;
      right: 0;
      height: 100%;
      width: 80px;
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: 26px;
        margin: 5px 10px 5px 15px;
        font-weight: 600;
        color: #000000;
        min-width: max-content;
        transform: rotate(90deg);
      }
    }

    .content-container {
      position: absolute;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      height: 100%;
      row-gap: 8px;
      padding: 30px 90px 30px 30px;
      box-sizing: border-box;

      .company-logo {
        max-width: 150px;
        max-height: 36px;
        object-fit: contain;
      }

      .product-name {
        font-size: 24px;
        font-weight: 700;
        margin: 0;
      }

      .sub-brand {
        background-color: #6a350e;
        color: #ffffff;
        width: 100%;
        text-align: start;
        background-image: linear-gradient(to left, #fde7c6, #6a350e);

        p {
          font-size: 20px;
          margin: 5px 10px;
        }
      }
      .product-cost {
        font-size: 22px;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: flex-start;
        flex-wrap: wrap;
        max-width: 220px;

        .actual-price {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          &::after {
            position: absolute;
            content: "";
            border-bottom: 2px solid black;
            width: 100%;
            transform: rotate(175deg);
          }
        }
      }

      .shop-btn {
        padding: 10px 15px;
        font-size: 14px;
        color: #ffffff;
        font-weight: 600;
        background-color: #000000;
        border: none;
        border-radius: 5px;
        letter-spacing: 1px;
      }
    }

    .banner-image {
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 200px;
      margin: 10px 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 100%;
        max-height: 100%;
        z-index: 1;
      }

      .discount-offer {
        position: absolute;
        background-color: #b6100f;
        color: #ffffff;
        font-size: 30px;
        font-weight: 700;
        width: 200px;
        height: 100px;
        clip-path: circle(130px at 170px 50px);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        right: 130px;
        bottom: 30px;
      }
    }
  }
}

// ------------banner-4--------------
.banner-4 {
  // desktop
  &.desktop-banner-container {
    margin: 50px auto;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1520px;
    font-family: "Inter", sans-serif;

    .background-image {
      max-width: 100%;
      max-height: 100%;
    }

    .banner-name-container {
      position: absolute;
      left: 0;
      height: 100%;
      background-color: #d1d7de;

      .banner-name {
        width: 85px;
        text-align: center;
        background-color: #395d8a;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0 10px;

        h1 {
          transform: rotate(-90deg);
          font-size: 38px;
          font-weight: 600;
          margin: 0;
          color: #ffffff;
          min-width: max-content;
        }
      }
    }

    .content-container {
      position: absolute;
      display: flex;
      align-items: flex-start;
      width: 60%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      padding: 40px 40px 40px 140px;
      box-sizing: border-box;
      row-gap: 12px;

      .company-logo {
        max-width: 250px;
        max-height: 42px;
        object-fit: contain;
      }

      .product-name {
        font-size: 40px;
        font-weight: 700;
        margin: 0;
        color: #000000;
      }

      .product-cost {
        font-size: 30px;
        font-weight: 600;
        display: flex;
        align-items: center;
        column-gap: 15px;
        justify-content: center;
        color: #000000;

        .actual-price {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          &::after {
            position: absolute;
            content: "";
            border-bottom: 3px solid #000000;
            width: 100%;
            transform: rotate(175deg);
          }
        }
      }

      .shop-btn {
        padding: 10px 15px;
        font-size: 18px;
        color: #ffffff;
        font-weight: 600;
        background-color: #c71717;
        border: none;
        border-radius: 5px;
        letter-spacing: 1px;
      }
    }

    .banner-image {
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin: 0 40px 0 0;
      column-gap: 25px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .discount-offer {
      right: 0px;
      top: 0px;
      position: absolute;
      background-color: #000000;
      color: #ffffff;
      font-size: 50px;
      font-weight: 700;
      width: max-content;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 15px 40px;
    }
  }

  // mobile
  &.mobile-banner-container {
    margin: 50px auto;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 560px;
    font-family: "Inter", sans-serif;

    .background-image {
      max-width: 100%;
      max-height: 100%;
      z-index: -1;
    }

    .banner-name {
      position: absolute;
      background-color: #395d8a;
      text-align: center;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px 0;

      h1 {
        font-size: 20px;
        margin: 5px 15px;
        font-weight: 600;
        color: #ffffff;
        min-width: max-content;
      }

      &::after {
        content: "";
        width: 90%;
        height: 55px;
        background-color: #d1d7de;
        position: absolute;
        z-index: -1;
        left: 0;
        top: -10px;
      }
    }

    .content-container {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      text-align: center;
      width: 100%;
      height: 100%;
      row-gap: 8px;
      padding: 60px 20px 20px 20px;
      box-sizing: border-box;

      .company-logo {
        max-width: 150px;
        max-height: 26px;
        object-fit: contain;
      }

      .product-name {
        font-size: 22px;
        font-weight: 700;
        margin: 0;
      }

      .product-cost {
        font-size: 22px;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: flex-start;
        flex-wrap: wrap;
        max-width: 220px;

        .actual-price {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          &::after {
            position: absolute;
            content: "";
            border-bottom: 2px solid black;
            width: 100%;
            transform: rotate(175deg);
          }
        }
      }

      .shop-btn {
        padding: 10px 15px;
        font-size: 14px;
        color: #ffffff;
        font-weight: 600;
        background-color: #c71717;
        border: none;
        border-radius: 5px;
        letter-spacing: 1px;
      }
    }

    .banner-image {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 175px;
      margin: 0 150px 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      img {
        max-width: 100%;
        max-height: 100%;
      }

      .discount-offer {
        right: -120px;
        top: 0px;
        position: absolute;
        background-color: #000000;
        color: #ffffff;
        font-size: 30px;
        font-weight: 700;
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 15px 30px;
      }

      &::before {
        content: "";
        width: 100%;
        height: 70%;
        background-color: #d1d7de;
        position: absolute;
        z-index: -1;
        left: -94px;
        bottom: -0;
      }
    }
  }
}

// ------------banner-5--------------
.banner-5 {
  // desktop
  &.desktop-banner-container {
    margin: 50px auto;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1520px;
    font-family: "Inter", sans-serif;

    .background-image {
      max-width: 100%;
      max-height: 100%;
    }

    .banner-name {
      position: absolute;
      left: 0;
      width: 85px;
      text-align: center;
      background-color: #41576d;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      h1 {
        transform: rotate(-90deg);
        font-size: 34px;
        font-weight: 600;
        margin: 0;
        color: #ffffff;
        min-width: max-content;
      }
    }

    .content-product-container {
      position: absolute;
      padding: 40px 40px 40px 140px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;

      .content-container {
        display: flex;
        align-items: center;
        width: 50%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        row-gap: 12px;

        .company-logo {
          max-width: 250px;
          max-height: 42px;
          object-fit: contain;
        }

        .product-name {
          font-size: 40px;
          font-weight: 700;
          margin: 0;
          color: #40576d;
          background-color: #ffffff;
          padding: 5px 10px;
        }

        .discount-offer {
          color: #c71717;
          font-size: 50px;
          font-weight: 700;
          width: max-content;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }

        .shop-btn {
          padding: 10px 15px;
          font-size: 18px;
          color: #ffffff;
          font-weight: 600;
          background-color: #000000;
          border: none;
          border-radius: 5px;
          letter-spacing: 1px;
        }
      }

      .banner-image {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .banner-image-1,
        .banner-image-2 {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          height: 100%;
          margin: 0 40px 0 0;
          column-gap: 25px;

          img {
            max-width: 100%;
            max-height: 100%;
          }

          .product-cost {
            font-size: 30px;
            font-weight: 600;
            display: flex;
            align-items: center;
            column-gap: 15px;
            justify-content: center;
            color: #000000;

            .actual-price {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              &::after {
                position: absolute;
                content: "";
                border-bottom: 3px solid #000000;
                width: 100%;
                transform: rotate(175deg);
              }
            }
          }
        }
      }
    }
  }

  // mobile
  &.mobile-banner-container {
    margin: 50px auto;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 560px;
    font-family: "Inter", sans-serif;

    .background-image {
      max-width: 100%;
      max-height: 100%;
    }

    .banner-name {
      position: absolute;
      background-color: #395d8a;
      text-align: center;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px 0;

      h1 {
        font-size: 20px;
        margin: 5px 15px;
        font-weight: 600;
        color: #ffffff;
        min-width: max-content;
      }
    }

    .content-product-container{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      .content-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        text-align: center;
       
        row-gap: 8px;
        padding: 60px 20px 20px 20px;
        box-sizing: border-box;
  
        .company-logo {
          max-width: 150px;
          max-height: 26px;
          object-fit: contain;
        }
  
        .product-name {
          font-size: 22px;
          font-weight: 700;
          margin: 0;
        }
  
        .discount-offer {
          color: #c71717;
          font-size: 30px;
          font-weight: 700;
          width: max-content;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 15px 30px;
        }
  
        .shop-btn {
          padding: 10px 15px;
          font-size: 14px;
          color: #ffffff;
          font-weight: 600;
          background-color: #000000;
          border: none;
          border-radius: 5px;
          letter-spacing: 1px;
        }
      }
  
      .banner-image {
        display: flex;
        .banner-image-1,
        .banner-image-2 {
         
          height: 175px;
          margin: 0 150px 0 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          img {
            max-width: 100%;
            max-height: 100%;
          }
  
          .product-cost {
            font-size: 22px;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: flex-start;
            flex-wrap: wrap;
            max-width: 220px;
  
            .actual-price {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              &::after {
                position: absolute;
                content: "";
                border-bottom: 2px solid black;
                width: 100%;
                transform: rotate(175deg);
              }
            }
          }
        }
      }
    }
   
  }
}
