<select (change)="changeBanner($event)">
  <option *ngFor="let banner of banners">
    {{ banner }}
  </option>
</select>

<form [formGroup]="bannerForm">
  <div>Banner Name</div>
  <input type="text" formControlName="badge" placeholder="NEW ARRIVAL" />
  <div>Desktop Background image</div>
  <input
    type="text"
    formControlName="desktop_background_image_url"
    placeholder="https://picsum.photos/200/300"
  />
  <div>Mobile Background image</div>
  <input type="text" formControlName="mobile_background_image_url" />
  <div>Product Name</div>
  <input
    type="text"
    formControlName="product_name"
    placeholder=".5 INCH PORTABLE HD MONITOR DC-550 PRO"
  />
  <div>Product Image</div>
  <input
    type="text"
    formControlName="product_image_url"
    placeholder="https://picsum.photos/200/300"
  />
  <div>Logo</div>
  <input
    type="text"
    formControlName="logo_url"
    placeholder="https://picsum.photos/200/300"
  />
  <div>Price</div>
  <input type="text" formControlName="price" placeholder="$18,890" />
  <div>Discounted Price</div>
  <input type="text" formControlName="selling_price" placeholder="$18,000" />
  <div>Button Text</div>
  <input type="text" formControlName="button_text" placeholder="SHOP NOW" />
  <div>Off Percentage</div>
  <input type="text" formControlName="discount_percentage" placeholder="12" />
  <div></div>
</form>

<ng-container [ngSwitch]="viewBanner">
  <ng-container *ngSwitchCase="'banner-1'">
    <!-- desktop -->
    <section class="banner-1 desktop-banner-container" id="desktopBanner">
      <img
        class="background-image"
        [src]="bannerForm.controls.desktop_background_image_url.value"
      />

      <div class="banner-name">
        <h1>{{ bannerForm.controls.badge.value }}</h1>
      </div>

      <div class="content-container">
        <div class="left-section">
          <img
            class="banner-image"
            [src]="bannerForm.controls.product_image_url.value"
          />
        </div>
        <div class="right-section">
          <img
            class="company-logo"
            [src]="bannerForm.controls.logo_url.value"
          />
          <h1 class="product-name">
            {{ bannerForm.controls.product_name.value }}
          </h1>
          <div class="product-cost">
            <span class="discounted-price">{{
              bannerForm.controls.selling_price.value
            }}</span>
            <span class="actual-price">{{
              bannerForm.controls.price.value
            }}</span>
          </div>
          <button class="shop-btn">
            {{ bannerForm.controls.button_text.value }}
          </button>

          <div class="discount-offer">
            {{ bannerForm.controls.discount_percentage.value }} % OFF
          </div>
        </div>
      </div>
    </section>

    <button (click)="createBanner(DeviceType.Desktop)">Capture</button>
    <!-- mobile -->
    <section class="banner-1 mobile-banner-container" id="mobileBanner">
      <img
        class="background-image"
        [src]="bannerForm.controls.mobile_background_image_url.value"
      />

      <div class="banner-name">
        <h1>{{ bannerForm.controls.badge.value }}</h1>
      </div>

      <div class="content-container">
        <img class="company-logo" [src]="bannerForm.controls.logo_url.value" />
        <h1 class="product-name">
          {{ bannerForm.controls.product_name.value }}
        </h1>
        <div class="product-cost">
          <span class="discounted-price">{{
            bannerForm.controls.selling_price.value
          }}</span>
          <span class="actual-price">{{
            bannerForm.controls.price.value
          }}</span>
        </div>
        <button class="shop-btn">
          {{ bannerForm.controls.button_text.value }}
        </button>

        <div class="banner-image">
          <img [src]="bannerForm.controls.product_image_url.value" />
        </div>
      </div>

      <div class="discount-offer">
        {{ bannerForm.controls.discount_percentage.value }}% OFF
      </div>
    </section>

    <button (click)="createBanner(DeviceType.Mobile)">Capture</button>
  </ng-container>

  <ng-container *ngSwitchCase="'banner-2'">
    <!-- desktop -->
    <section class="banner-2 desktop-banner-container" id="desktopBanner">
      <img
        class="background-image"
        [src]="bannerForm.controls.desktop_background_image_url.value"
      />

      <div class="banner-name">
        <h1>
          {{ bannerForm.controls.badge.value }}
          <img [src]="bannerForm.controls.product_image_url.value" />
        </h1>
      </div>

      <div class="content-container">
        <img class="company-logo" [src]="bannerForm.controls.logo_url.value" />
        <h1 class="product-name">
          {{ bannerForm.controls.product_name.value }}
        </h1>
        <div class="product-cost">
          <span class="discounted-price">{{
            bannerForm.controls.selling_price.value
          }}</span>
          <span class="actual-price">{{
            bannerForm.controls.price.value
          }}</span>
        </div>
        <button class="shop-btn">
          {{ bannerForm.controls.button_text.value }}
        </button>
      </div>

      <div class="discount-offer">
        {{ bannerForm.controls.discount_percentage.value }}% <br />
        OFF
      </div>
    </section>
    <button (click)="createBanner(DeviceType.Desktop)">Capture</button>

    <!-- mobile -->
    <section class="banner-2 mobile-banner-container" id="mobileBanner">
      <img
        class="background-image"
        [src]="bannerForm.controls.mobile_background_image_url.value"
      />

      <div class="banner-name">
        <h1>
          {{ bannerForm.controls.badge.value }}
          <img src="../assets/images/double-right-arrow-icon.png" />
        </h1>
      </div>

      <div class="content-container">
        <img class="company-logo" [src]="bannerForm.controls.logo_url.value" />
        <h1 class="product-name">FX3 Full-Frame Cinema Camera</h1>

        <div class="product-cost">
          <span class="discounted-price">{{
            bannerForm.controls.selling_price.value
          }}</span>
          <span class="actual-price">{{
            bannerForm.controls.price.value
          }}</span>
        </div>
        <button class="shop-btn">
          {{ bannerForm.controls.button_text.value }}
        </button>
      </div>

      <div class="banner-image">
        <img [src]="bannerForm.controls.product_image_url.value" />
      </div>

      <div class="discount-offer">
        {{ bannerForm.controls.discount_percentage.value }}% OFF
      </div>
    </section>
    <button (click)="createBanner(DeviceType.Mobile)">Capture</button>
  </ng-container>
</ng-container>
